<!-- This is the page which shows the moviematch -->
<!-- The user should see the movie on which the group matched on -->
<!-- for now only optimized for mobile -->
<div id="showmatch" class="container" ng-model="movieChosen">

  <div ng-if="!movieChosen"> 

    <img class="center" src="https://45.media.tumblr.com/c25e19cd821c2cfb6ee3ce4b5805a57e/tumblr_njhuwaqI9i1u9izmyo1_500.gif">
  </br>
    <span style="margin: 20px">VOTES</span><span>MOVIE TITLES</span>
  </br>
    <div ng-model="movies" ng-repeat="movie in movies">
      <span class="col-md-4" style="display: inline-block; margin: 20px">
        {{ movie.votes }}
      </span>
      <span class="col-md-8" style="display: inline-block">
        {{ movie.title }} 
      </span>
    </div>

  </div>


  <div ng-if="movieChosen">

    <div class="header center row">
      <h1 class="col-xs-12">
        <div>It's a Match!</div>
      </h1>
    </div>




    <div class="movie">
      <h2 class="center">{{ winner.title }} ({{ winner.year }})</h2>
      
      <div class="row">
        <div class="poster col-xs-12 center">
          <img alt="{{ winner.title }} " src="{{ winner.poster }}" class = "foto">
        </div>
        <div class="summary col-xs-12 center">
          <h4>Movie Summary</h4>
          <p>{{ winner.plot }}</p>
        </div>
      </div>

    </div>

  </div>

</div>
